<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation Assignment project" verbose="1" >
  
  <test name="Login Test flow">
    <classes>
      <class name="com.ui.tests.LoginTest"/>
      <class name="com.ui.tests.InvalidLoginTest"/>
       <class name="com.ui.tests.AddressTest"/>
        <class name="com.ui.tests.SearchProductTest"/>
         <class name="com.ui.tests.CheckoutProductTest"/>
    </classes>
  </test>
</suite>